$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

$main-gray: #cfd8dc;

/* Space out content a bit */
body {
  background-color: $main-gray;
  padding-top: 70px; // dodal zaradi fixnega manija
}
.container-full {
  margin: 0 auto;
  width: 100%;
}

.form-signin{
  max-width: 350px;
  padding: 15px;
  margin: 0 auto;

  .form-control{
    padding: 10px;
    height: auto;
    font-size: 16px;
  }
}


.form-signin input[type="text"]{
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.form-signin input[type="password"]{
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.login-logo{
  padding-bottom: 10px;
}

#custom-header{

  .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2{
    padding: 0px;
  }

  .navbar-title{
    line-height: 50px;
    font-size: 18px;
  }


  .row{
    margin: 0;
  }

  .badge{
    font-size: 18px;
  }

}