<nav id = "custom-header" ng-controller="HeaderCtrl as header" ng-show="showHeader()" class="navbar navbar-default navbar-fixed-top" role="navigation">
<div class="row">
	<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
			<div class="text-left">
				<a class="navbar-brand" href="" ng-click="back()"><span class="glyphicon glyphicon-arrow-left"></span></a>

			</div>
	</div>
	<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
		<div class="text-center navbar-title">
			<div class="">{{Page.title()}} <span class="badge alert-danger">{{Page.newTests()}}</span></div>
		</div> 	
	</div>	

	<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
			<div class="pull-right">
				<a class="navbar-brand" href="#"> <span class="glyphicon glyphicon-log-out navbar-right "></span></a>
			</div>
	</div>
</div>
</nav>