      <nav ng-controller="HeaderCtrl as header" ng-show="showHeader()" class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
          <a class="navbar-brand" href="" ng-click="back()"><span class="glyphicon glyphicon-arrow-left"></span></a>
          <div class="center-block navbar-brand">{{Page.title()}}</div>
          <a class="navbar-right navbar-brand" href="#"> <span class="glyphicon glyphicon-log-out navbar-right "></span></a>
        </div>
      </nav>